{% load filters %}
<ul>
{% for year in type.years %}
<li> 
    <span class="title">{{ year.year }}</span>
    <ul>
    {% for pub in year.publications %}
    <li class="publication">
      <span class="authors">
	{% for author in pub.author_list %}
	        {% if not forloop.last %}
			{% if author.homepage %}
			   <a href="{{ author.homepage }}">{{ author.cleanname|encode }}</a>{% comment %}
			{% endcomment %}{% else %}{{ author.cleanname|encode }}{% endif %},
	        {% else %}
	        and 
		 	{% if author.homepage %}
			   <a href="{{ author.homepage }}">{{ author.cleanname|encode }}</a>{% comment %}
			{% endcomment %}{% else %}{{ author.cleanname|encode }}{% endif %}.
	        {% endif %}
        {% endfor %}
      </span>
      <span class="paperTitle">{{ pub.cleantitle }}</span>.
      <span class="editorial"></span>
      <span class="publiTitle">{{ pub.cleanjournal  }}</span> 
      <span class="conference">{{ pub.booktitle }}</span>, 
      <span class="date">{% if pub.month %}{{ pub.cleanmonth }}, {% endif %}{{ pub.year }}</span> 
      {% url aigapages.bib.views.view_bibtex pub.pub_id as bibtex_url %}
      <span class="links">[<a href="javascript:open_url('{{ bibtex_url }}')">Bibtex</a>]</span>
      {% if pub.abstract %}
         <span class="links">[<a href="javascript:toggle_abstract('{{ pub.pub_id }}')">Abstract</a>]</span>
      {% endif %}
      {% if pub.fulltext_attachment %}
	 {% url aigapages.bib.views.download_fulltext pub.pub_id as fulltext_url %}
         <span class="links">[<a title="{{ pub.cleantitle }}" href="{{ fulltext_url }}">Full Text</a>]</span>
      {% endif %}

      <div id="abstract_{{ pub.pub_id }}" class="abstract" style="display:none">
	  {{ pub.abstract|encode }}
      </div> <!-- abstract -->
    </li> <!-- publication -->
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul> 
