{% load filters %}
{% load i18n %}
<ul>
{% for year in type.years %}
<li> 
    <span class="year">{{ year.year }}</span>
    <ul>
    {% for pub in year.publications %}
    <li class="publication">
      <span class="authors">
	{% for author in pub.author_list %}
	        {% if not forloop.last %}
			{% if author.homepage %}
			   <a href="{{ author.homepage }}" target="_parent">{{ author.cleanname|encode }}</a>{% comment %}
			{% endcomment %}{% else %}{{ author.cleanname|encode }}{% endif %},
	        {% else %}
	        {% trans "and" %} 
		 	{% if author.homepage %}
			   <a href="{{ author.homepage }}" target="_parent">{{ author.cleanname|encode }}</a>{% comment %}
			{% endcomment %}{% else %}{{ author.cleanname|encode }}{% endif %}
			({% trans "in alph. order" %}).
	        {% endif %}
        {% endfor %}
      </span>
      <span class="paperTitle">{{ pub.cleantitle }}</span>.
      {% if pub.cleanjournal %}<span class="publiTitle">{{ pub.cleanjournal }}</span>{% endif %}{% comment %}
{% endcomment %}{% if pub.booktitle %}<span class="conference">{{ pub.booktitle }}</span>{% endif %}{% comment %}
{% endcomment %}{% if pub.isbn %}, ISBN {{ pub.isbn }}{% endif %}{% comment %}
{% endcomment %}{% if pub.issn %}, ISSN {{ pub.issn }}{% endif %},
      <span class="date">{% if pub.month %}{% trans pub.cleanmonth %} {% endif %}{{ pub.year }}</span>.
      {% url aigapages.bib.views.view_bibtex pub.pub_id as bibtex_url %}
      <span class="links">[<a href="javascript:open_url('{{ bibtex_url }}')">Bibtex</a>]</span>
      {% if pub.abstract %}
         <span class="links">[<a href="javascript:toggle_abstract('{{ pub.pub_id }}')">{% trans "Abstract" %}</a>]</span>
      {% endif %}
      {% if pub.fulltext_attachment %}
	  {% url aigapages.bib.views.download_fulltext pub.pub_id as fulltext_url %}
         <span class="links">[<a class="{% ifequal pub.fulltext_attachment.isremote "TRUE" %}remote {% endifequal %}fulltext"
		 target="_parent" title="{{ pub.cleantitle }}" 
		href="{{ fulltext_url }}">{% trans "Full Text" %}</a>]</span>
      {% endif %}
      <div id="abstract_{{ pub.pub_id }}" class="abstract" style="display:none">
	  {{ pub.abstract|encode }}
      </div> <!-- abstract -->
    </li> <!-- publication -->
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul> 
