{% load filters %}
<ul> 
{% for year in type.years %}
<li> 
    <span class="title">{{ year.year }}</span>
    <ul>
    {% for pub in year.publications %}
    <li class="publication">
      <span class="authors">
	{% for author in pub.author_list %}
	    {% if not forloop.last %}
	    <a href="#">{{ author.cleanname|encode }}</a>,
	    {% else %}
	    and <a href="#">{{ author.cleanname|encode }}</a>.
	    {% endif %}
        {% endfor %}
      </span>
      <span class="paperTitle">{{ pub.cleantitle }}</span>.
      <span class="editorial"></span>
      <span class="publiTitle">{{ pub.cleanjournal  }}</span> 
      <span class="conference">{{ pub.booktitle }}</span>, 
      <span class="date">{% if pub.month %}{{ pub.cleanmonth }}, {% endif %}{{ pub.year }}</span> 
      {% url aigapages.bib.views.view_bibtex pub.pub_id as bibtex_url %}
      <span class="links">[<a href="{{ bibtex_url }}">Bibtex</a>]</span>
      {% if pub.fulltext_attachment %}
	 {% url aigapages.bib.views.download_fulltext pub.pub_id as fulltext_url %}
         <span class="links">[<a href="{{ fulltext_url }}">Full Text</a>]</span>
      {% endif %}
    </li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul> 
