{% extends "base.html" %}
{% block content %}
	<h2>Todos los artículos</h2>
	{% url aigapages.bib.views.view_all as all %}
	<ul>
		<li><a href="{{ all }}">Por año</a></li>
		<li><a href="{{ all }}?order_by=type">Por tipo y año</a></li>
	</ul>

	<h2>Página personal</h2>
	<ul>
	{% for author in authors.items %}
		{% url aigapages.bib.views.view_author author.0 as author_url %}
		<li>{{ author.1 }} <a href="{{ author_url }}">Por año</a>
                     <a href="{{ author_url }}?order_by=type">Por tipo y año</a></li>
	{% endfor %}
	</ul>

	<h2>Página de proyecto</h2>
	<ul>
	{% for project in projects %}
		{% url aigapages.bib.views.view_all as project_url %}
		<li>{{ project }} <a href="{{ project_url }}?project={{ project }}">Por año</a>
                     <a href="{{ project_url }}?project={{ project }}&order_by=type">Por tipo y año</a></li>
	{% endfor %}
	</ul>
{% endblock %}
